<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-uptime" version="0.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Uptime</name>
    <js-module name="Uptime" src="www/uptime.js">
        <clobbers target="Uptime"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Uptime">
                <param name="android-package" value="com.silvius.cordova.uptime.Uptime"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/Uptime.java" target-dir="src/com/silvius/cordova/Uptime"/>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Uptime">
                <param name="ios-package" value="Uptime"/>
            </feature>
        </config-file>

        <header-file src="src/ios/Uptime.h"/>
        <source-file src="src/ios/Uptime.m"/>
    </platform>
</plugin>